<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>

  <link rel="stylesheet" href="compont.css">
</head>
<body>
  <div class="container">
    <div class="box">
      <div class="img">
        <img src="/img/Akali.jpg">
      </div>
      <div class="content">
        <h2>AKALI</h2>
        <p>Abandoning the Kinkou Order and her title of the Fist of Shadow, Akali now strikes alone, ready to be the deadly weapon her people need...</p>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="box">
      <div class="img">
        <img src="/img/Fiora.jpg">
      </div>
      <div class="content">
        <h2>FIORA</h2>
        <p>The most feared duelist in all Valoran, Fiora is as renowned for her brusque manner and cunning mind as she is for the speed of her bluesteel rapier. Born to House Laurent...</p>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="box">
      <div class="img">
        <img src="/img/Yasuo.jpg">
      </div>
      <div class="content">
        <h2>YASUO</h2>
        <p>An Ionian of deep resolve, Yasuo is an agile swordsman who wields the air itself against his enemies. As a proud young man, he was...</p>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="box">
      <div class="img">
        <img src="/img/Camille.jpg">
      </div>
      <div class="content">
        <h2>CAMILLE</h2>
        <p>Weaponized to operate outside the boundaries of the law, Camille is the Principal Intelligencer of Clan Ferros—an elegant and elite agent...</p>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="box">
      <div class="img">
        <img src="/img/Rakan.jpg">
      </div>
      <div class="content">
        <h2>RAKAN</h2>
        <p>As mercurial as he is charming, Rakan is an infamous vastayan troublemaker and the greatest battle-dancer in Lhotlan tribal history. humans of the Ionian highlands...</p>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="box">
      <div class="img">
        <img src="/img/IRELIA.jpg">
      </div>
      <div class="content">
        <h2>IRELIA</h2>
        <p>The Noxian occupation of Ionia produced many heroes, none more unlikely than young Irelia of Navori. Trained in the ancient dances of her province...</p>
      </div>
    </div>
  </div>
</body>
</html>