<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css">
  <link rel="stylesheet" href="layout.css">
</head>

<body>
  <header>
    <nav class="container">
      <ul>
        <li>
          <a href="#">
            <i class="fas fa-bars"></i>
          </a>
        </li>
        <li>
          <h2><i class="fas fa-code"></i> PageLogo</h2>
        </li>
        <li>
          <a href="#">Home</a>
        </li>
        <li>
          <a href="#">Document</a>
        </li>
        <li>
          <a href="#">About</a>
        </li>
      </ul>
    </nav>
  </header>
  <main>
    <div class="container">
      <div class="side-bar">SideBar Menu</div>
      <div class="content">
        Page Content...
      </div>
      <div class="ads">Ads Area</div>
    </div>
  </main>
  <footer>
    <div class="container">
      <div>
        <h2><i class="fas fa-code"></i> PageLogo</h2>
      </div>
      <div>
        <h3>Language</h3>
        <a href="#">C/C++</a>
        <a href="#">Java</a>
        <a href="#">Python</a>
        <a href="#">Javascript</a>
      </div>
      <div>
        <h3>Country</h3>
        <a href="#">USA</a>
        <a href="#">Japan</a>
      </div>
      <div>
        <h3>Help</h3>
        <a href="http://www.google.com/">Google</a>
        <a href="http://www.github.com/">GitHub</a>
        <a href="http://www.stackoverflow">StackOverflow</a>
      </div>
    </div>
    <p>
      <i class="far fa-copyright"> Copyright</i>
      <a href="mailto:316981067@qq.com?subject=Hello!">Write to the Author!</a>
    </p>
  </footer>
  <script>console.log("Loaded");</script>
</body>

</html>