<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <link rel="stylesheet" href="layout.css">
</head>
<body class="Site">
  <header>
    <nav>
      <ul>
        <li><img src="../logo.png" alt="logo" srcset=""></li>
        <li><span>Home</span></li>
        <li><span>Document</span></li>
        <li><span>Help</span></li>
        <li><span>About</span></li>
      </ul>
    </nav>
  </header>
  <main class="Site-content">
    <dib class="side-bar">SideBar Menu</dib>
    <div class="content">
      Page Content...
    </div>
    <div class="ads">Ads Area</div>
  </main>
  <footer>Copyright</footer>
</body>
</html>